.WeatherForecast {
  text-align: center;
  padding-top: 24px;
}

.WeatherForecast-day {
  color: var(--secondary-color);
  margin-bottom: 30px;
}

.WeatherForecast-temperatures {
  color: var(--secondary-color);
  margin-top: 30px;
}

.WeatherForecast-temperature-max {
  font-weight: bold;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
  margin-left: 5px;
}
